.about{
	padding-bottom: 2rem;

	&-bio-image{
		height: 50vh;
		width: 100%;
		background:
			linear-gradient(
				to right,
				rgba($primary-color, 0.8),
				rgba($primary-color, 0.2)
				),
			url('../img/model-1.jpg') center top;
			background-size:cover;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

		p{
		margin-bottom:2rem;
		}	
	}

	&-bio{
		width: 80%;
		text-align: center;

		.text-secondary{
			padding-bottom: 1rem;
			font-size:2rem;
		}

	}

	.jobs {
		width: 60vw;
		margin:2rem auto 0 auto;
		display:grid;
		grid-row: 1fr;
		grid-gap: 2rem;

		&-job{
			background: lighten($primary-color, 10%);
			// Added border-radius to further differentiate these cards from 'spam' pages and make it look more professional
			border-radius:45px;
			// Added box-shadow on job 'cards' to elevate them off the background and give page more depth
			box-shadow: 3px 3px 8px $shadow-color;
			// Added more padding so it looks less like a spam page
			padding: 1.5rem;
			border-bottom: 5px solid $secondary-color;

			// Increased margin on all elements within jobs-job to increase readability
			h2, h3{
				margin: 1rem 0;
			}

			h6{
				margin: 0.8rem 0;
			}
		}
	}


	.social-icons{
		display: flex;
		flex-direction: column;
	}

	footer{
		transform:
			rotate(90deg)
			translate(-3rem, -5rem);
	}

	
}